
uvicorn
uv
groq

# Core FastAPI and MCP Server Libraries
fastapi
uvicorn
mcp-use[cli]
fastmcp

# LangChain and AI Model Integration
langchain
langgraph
langchain-openai
langchain-groq
langchain-mcp-adapters

# Transcription and Audio Processing
faster_whisper
pydub
av # Required by PyDub for video formats
vaderSentiment
speechrecognition

# Environment and Utility
python-dotenv
websockets
scikit-learn
numpy
statsmodels
moviepy
gtts
Pillow